<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
 
    <title>Brain tumor Detection</title>
</head>
<body>
    <section id="main" class="bg-black text-white justify-around flex items-center h-[100vh] font-mono">
        <div class="heading flex flex-col space-y-7 pl-9">
            <h1 id="head" class="text-[60px]">Brain Tumor Detector</h1>
        <span class="text-[20px]">Detecting brain tumor with accuracy</span>
        <a href="/detect">
            <button  class="flex border border-blue-500 w-52 items-center justify-center hover:bg-blue-500">
                <span class="p-4">Detect Tumor</span>
                 <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
              </svg>
              </button>
        </a>
        </div>
        <div class="w-[40%]">
            <img src="../static/brain-6111125_640-removebg-preview.png" alt="">
        </div>
        
    </section>
</body>
</html>